body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 25px;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  background-color: rgb(70, 77, 102);
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  text-align: center;
  font-size: 25px;
}

.buttons .afip {
  margin-right: 120px;
  padding: 30px 5px;
  width: 400px;
  background-color: rgb(96, 95, 104);
  color: #fff;
  text-decoration: none;
}

.buttons .afip:hover {
  background-color: rgb(26, 29, 37);
}

.buttons .mail {
  padding: 30px 5px;
  width: 400px;
  background-color: rgb(89, 88, 95);
  color: #fff;
  text-decoration: none;
}

.buttons .mail:hover {
  background-color: rgb(23, 25, 31);
}

.details {
  display: flex;
  justify-content: center;
  line-height: 33px;
  font-weight: inherit;
  font-size: 17px;
}

.details .detail-afip {
  margin-right: 120px;
  justify-content: center;
  width: 400px;
  background-color: rgba(121, 124, 129, 0.199);
}

.details .detail-afip ol {
  padding: 5px 30px;
  text-align: left;
  list-style-type: disc;
}

.details .detail-mail {
  justify-content: center;
  width: 400px;
  background-color: rgba(121, 124, 129, 0.199);
}

.details .detail-mail ol {
  padding: 5px 30px;
  text-align: left;
  list-style-type: disc;
}
